.hero {
	width: 100%;
	height: 100%;
	position: relative;
}

.heroImg {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.heroText {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.heroText h1 {
	font-size: 3rem;
	font-weight: 800;
	background-color: var(--blackColor);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.heroText p {
	font-size: 1.3rem;
	color: var(--blackColor);
	padding: 0.5rem 0 2rem 0;
}

.heroText .show {
	text-decoration: none;
	padding: 1rem 2rem;
	border-radius: 6px;
	font-size: 1.1rem;
	font-weight: bold;
	letter-spacing: 2px;
	color: var(--whiteColor);
	background-color: var(--blackColor);
}

.heroText .hide {
	display: none;
}

@media screen and (max-width: 555px) {
	.heroText {
		transform: translate(-50%, -25%);
	}
	.heroText h1 {
		padding: 10px 20px;
		font-size: 2rem;
	}
	.heroText p {
		font-size: 1.1rem;
		padding: 0rem 0 2rem 0;
	}
	.heroText .show {
		padding: 0.6rem 1.1rem;
		border-radius: 6px;
		font-size: 1rem;
	}
}
