.hero {
	display: flex;
	justify-content: center;
}

.heroContainer {
	height: 40rem;
	width: 100%;
	max-width: 1024px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('../../Assets/DesertHero.jpg'), url('../../Assets/ForestHero.jpg'), url('../../Assets/CanyonHero.jpg'), url('../../Assets/IceHero.jpg');
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: right bottom, left top, left bottom, right top;
}

.heroText {
	display: flex;
	flex-direction: column;
	position: absolute;
	background-color: var(--whiteColor);
	border-radius: 50px;
	font-weight: 500;
	justify-content: center;
	align-items: center;
	padding: 0.5rem 1rem;
}

.heroButton {
	width: 50%;
	cursor: pointer;
	border-radius: 25px;
}
