.blog {
	margin: 50px 0;
	text-align: left;
	padding: 3rem 9rem 3rem 9rem;
}

.container {
	margin: 0 auto;
	width: 100%;
}

.blogWrapper {
	margin-bottom: 40px;
}

.blogWrapper h2 {
	font-size: 2.5rem;
	color: var(--greyColor);
}

.blogWrapper p {
	font-size: 1.2rem;
	color: var(--textGreyColor);
	margin-top: 10px;
}

.blogBtn.post {
	display: inline-block;
	margin-top: 20px;
	padding: 10px 20px;
	color: var(--whiteColor);
	text-decoration: none;
	border-radius: 5px;
	font-weight: bold;
	transition: background-color 0.3s ease;
	background-color: var(--themeColor);
	margin-bottom: 10px;
}

.blogLink {
	text-decoration: none;
	color: var(--blackColor);
}

.blogLink i {
	margin-right: 5px;
}

.delete {
	margin-left: 20px;
}

.blogBtn:hover {
	cursor: pointer;
	background-color: var(--secThemeColor);
}

.blogPosts {
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
}

.blogPost {
	background-color: var(--lightGreyColor);
	padding: 20px 20px;
	margin: 20px 0;
	border-radius: 8px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	width: 100%;
	position: relative;
}

.blogPost h3 {
	font-size: 24px;
	color: var(--greyColor);
	margin-bottom: 10px;
}

.blogPost p {
	color: var(--textGreyColor);
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 20px;
}

.pagination {
	margin-top: 30px;
}

.blogDate {
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 0.8em;
	margin-right: 20px;
}

@media screen and (max-width: 1250px) {
	.blog {
		padding: 4rem 4rem 3rem 4rem;
	}
}

@media screen and (max-width: 770px) {
	.blog {
		padding: 2rem 1rem 3rem 1rem;
	}
}
