.formContainer {
	margin: 4rem 6rem;
	color: var(--blackColor);
}
.formContainer h2 {
	margin-bottom: 3rem;
}
.form {
	display: flex;
	flex-direction: column;
	width: 60%;
	margin: 0 auto;
}

.formField {
	margin: 1rem 0;
	border: none;
	border-bottom: 1px solid var(--blackColor);
	background-color: var(--whiteColor);
}

.formContainer label {
	text-align: left;
}

.formContainer textarea {
	border-radius: 0.3rem;
	border: 1px solid var(--blackColor);
	height: 8rem;
}

.formContainer button {
	padding: 0.5rem 5rem;
	white-space: nowrap;
	border-radius: 7px;
	font-size: 1rem;
	font-weight: 600;
	border: none;
	cursor: pointer;
	transition: 0.2s ease-in-out;
	background-color: var(--blackColor);
	color: var(--whiteColor);
}

.formContainer button:hover {
	background-color: var(--greyColor);
	transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 1050px) {
	.formContainer {
		margin: 4rem 2rem;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.form {
		width: 80%;
	}

	.formContainer form {
		width: 90%;
		padding-top: 2rem;
	}
}

@media screen and (max-width: 750px) {
	.formContainer {
		margin: 4rem 2rem;
	}

	.form {
		width: 100%;
	}
}
