.navbarItems {
	background-color: var(--whiteColor);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 30px;
	box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
	width: calc(100% - 2rem);
	height: 80px;
	border-radius: 14px;
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	z-index: 9999;
	margin-top: 2rem;
}

.navHomeLink {
	text-decoration: none;
	color: var(--themeColor);
	font-size: 1.5rem;
	cursor: pointer;
	display: flex;
	flex-wrap: nowrap;
}

.navHomeLink img {
	width: 10%;
	height: auto;
	margin-right: 5px;
}

.navMenu {
	display: grid;
	grid-template-columns: repeat(6, auto);
	grid-gap: 15px;
	list-style: none;
	align-items: center;
}

.navLinks {
	text-decoration: none;
	cursor: pointer;
}

.navLinks p {
	text-decoration: none;
	color: var(--blackColor);
	font-size: 1rem;
	padding: 0.5rem 0.9rem;
	white-space: nowrap;
}
.navLinks p:hover {
	background-color: var(--themeColor);
	color: var(--whiteColor);
	border-radius: 4px;
	transition: all 0.2s ease-in-out;
}

.menuIcons i {
	display: none;
}
.navLinksMobile {
	display: none;
}

.navBtn {
	padding: 0.5rem 1rem;
	white-space: nowrap;
	border-radius: 7px;
	font-size: 1rem;
	font-weight: 600;
	border: none;
	cursor: pointer;
	transition: 0.2s ease-in-out;
	background-color: var(--blackColor);
	color: var(--whiteColor);
}

.navBtn:hover {
	background-color: var(--greyColor);
	transition: all 0.2s ease-in-out;
}

.toggleBtn {
	background-color: var(--themeColor);
	color: var(--whiteColor);
	border: none;
	padding: 5px 10px;
	cursor: pointer;
	font-size: 0.8rem;
	font-weight: 600;
	border-radius: 7px;
	transition: 0.3s ease-in-out;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

@media screen and (max-width: 950px) {
	.navbarItems {
		z-index: 199;
	}

	.navMenu {
		display: none;
		flex-direction: column;
		justify-content: flex-start;
		background: var(--whiteColor);
		width: 100%;
		height: auto;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		align-items: stretch;
		padding: 80px 0 10px 0;
		margin: 0;
		transition: 0.3s ease-in-out;
		border-radius: 13px;
		box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
	}

	.navMenu.active {
		display: flex;
		opacity: 1;
		z-index: -1;
		transition: 0.3s ease-in-out;
	}

	.navLinks {
		display: block;
		width: 100%;
		font-size: 1.2rem;
		margin: 0.5rem 0;
		padding: 0.5rem 0;
		text-align: center;
	}

	.navLinks:hover {
		background-color: var(--themeColor);
		transition: none;
	}

	.navBtn {
		display: none;
	}

	.navLinksMobile {
		background-color: var(--whiteColor);
		display: block;
		text-align: center;
		padding: 1rem;
		margin: auto;
		border-radius: 7px;
		width: 30%;
		background: var(--blackColor);
		text-decoration: none;
		color: var(--whiteColor);
		font-size: 1rem;
		font-weight: 700;
		letter-spacing: 2px;
	}

	.navLinksMobile:hover {
		background-color: var(--greyColor);
		transition: all 0.2s ease-in-out;
	}

	.menuIcons {
		display: block;
		cursor: pointer;
	}

	.menuIcons i {
		font-size: 1.2rem;
		color: var(--blackColor);
		display: block;
	}
	.toggleBtn {
		width: 30%;
		padding: 10px 20px;
		margin: 0 auto;
		flex-direction: row;
		font-size: 1rem;
	}
	.toggleBtn p {
		margin-left: 5px;
	}
}
