.navbar {
	height: 4rem;
	background-color: var(--blackColor);
	display: flex;
	justify-content: center;
}

.navContainer {
	width: 100%;
	max-width: 1024px;
	color: var(--whiteColor);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	font-weight: 500;
}

.navitems {
	display: flex;
	gap: 1em;
}

.navButton {
	border: none;
	padding: 0em 1em;
	cursor: pointer;
	color: var(--blackColor);
    border-radius: 25px;
    font-weight: 700;
}

.navList {
	display: flex;
	align-items: right;
	justify-content: center;
}

.navItem {
	list-style: none;
	margin: 0 1em;
}
