.pagination {
	margin-top: 20px;
	text-align: center;
}

.pagination button,
.pagination span {
	background-color: var(--greyColor);
	color: var(--whiteColor);
	border: none;
	padding: 10px 20px;
	margin: 0 5px;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.pagination button.active {
	background-color: var(--themeColor);
}

.pagination button:hover,
.pagination button.active:hover,
.pagination span:hover {
	background-color: var(--textGreyColor);
}

.pagination button[disabled],
.pagination button[disabled]:hover,
.pagination span[disabled] {
	background-color: var(--whiteColor);
	color: var(--textGreyColor);
	cursor: not-allowed;
}
