@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Poppins:wght@100;200;300;400;500;600;700;900&family=Space+Mono&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	border: 1px solid red;
}

.App {
	text-align: center;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: var(--whiteColor);
}

img {
	display: block;
}

:root {
	--blackColor: rgb(3, 3, 3);
	--whiteColor: rgb(248, 248, 248);
	--greyColor: rgb(71, 71, 71);
	--lightGreyColor: rgb(230, 224, 224);
	--textGreyColor: rgb(87, 87, 87);
}

.canyon-theme {
	--themeColor: rgb(110, 53, 0);
	--secThemeColor: rgb(194, 156, 124);
}

.forest-theme {
	--themeColor: rgb(35, 114, 4);
	--secThemeColor: rgb(124, 194, 129);
}

.desert-theme {
	--themeColor: rgb(163, 125, 0);
	--secThemeColor: rgb(220, 224, 155);
}

.snow-theme {
	--themeColor: rgb(2, 57, 88);
	--secThemeColor: rgb(101, 175, 209);
}
@media screen and (max-width: 650px) {
	html {
		font-size: 14px;
	}
}

@media screen and (max-width: 520px) {
	html {
		font-size: 12px;
	}
}
