.bookContainer {
	justify-content: center;
	display: flex;
}
.bookWrapper {
	position: relative;
	margin-top: 4rem;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 10px 0;
	border-radius: 5px;
	width: 100%;
	max-width: 1024px;
	z-index: 99;
}

.bookItems {
	width: 33%;
	min-height: 1.5em;
	border: 0.05em solid var(--blackColor);
	display: flex;
	align-items: center;
	gap: 0.5em;
	padding: 0.5em;
	border-radius: 0.25em;
	outline: none;
	justify-content: center;
}

.bookItems:focus {
	border-color: var(--themeColor);
}

.bookItems:hover {
	cursor: pointer;
}

.locationName {
	flex-grow: 1;
	width: 33%;
}

.locationDivider {
	background-color: var(--blackColor);
	align-self: stretch;
	width: 0.05em;
}

.locationCaret {
	translate: 0 25%;
	border: 0.25em solid transparent;
	border-top-color: var(--blackColor);
}

.locationList {
	list-style: none;
	display: block;
	max-height: 10em;
	overflow-y: auto;
	border-top-color: var(--blackColor);
	border-radius: 0.25em;
	width: 33.33%;
	left: 0;
	top: 50px;
	position: absolute;
	background-color: var(--whiteColor);
	z-index: 100;
	background-color: var(--whiteColor);
	color: var(--blackColor);
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.75);
}

.locationListHide {
	display: none;
}

.locationItem {
	padding: 0.25em 0.5em;
	cursor: pointer;
}

.locationItem:hover {
	background-color: var(--secThemeColor);
}

.locationItemSelected {
	background-color: var(--themeColor);
	cursor: pointer;
	color: var(--whiteColor);
}

.date {
	position: absolute;
	top: 50px;
}

.options {
	position: absolute;
	top: 50px;
	background-color: var(--whiteColor);
	color: var(--blackColor);
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.75);
	padding: 0.5rem;
}

.optionItem {
	width: 200px;
	display: flex;
	justify-content: space-between;
}

.optionCounter {
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 12px;
	color: var(--blackColor);
}

.optionCounterButton {
	width: 30px;
	height: 30px;
	border: 1px solid var(--themeColor);
	color: var(--blackColor);
	cursor: pointer;
	background-color: transparent;
}

.optionCounterButton:disabled {
	cursor: not-allowed;
}

.optionCounterNumber {
	width: 1rem;
}

.mapBox {
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	margin: 2rem 0;
	justify-content: center;
}

.bookButtonWrapper {
	display: flex;
	justify-content: center;
	margin-bottom: 1rem;
}
.bookButton {
	padding: 0.5rem 1rem;
	white-space: nowrap;
	border-radius: 7px;
	font-size: 1rem;
	font-weight: 600;
	border: none;
	cursor: pointer;
	transition: 0.2s ease-in-out;
	background-color: var(--blackColor);
	color: var(--whiteColor);
}

.bookButton:hover {
	background-color: var(--greyColor);
	transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 600px) {
	.bookContainer {
		justify-content: flex-start;
	}

	.bookWrapper {
		height: auto;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-around;
		width: 100%;
		z-index: 99;
		right: 0;
	}

	.bookItems {
		width: 33%;
		margin: 20px 10px;
		justify-content: center;
	}
	.locationList {
		left: 40%;
		top: 10%;
	}
	.date {
		left: 10%;
		top: 60%;
	}

	.mapBox {
		padding: 0 10px;
		width: 100%;
		height: auto;
		margin: 0 auto;
	}
	.options {
		top: 70%;
		left: 40%;
		padding: 0;
	}

	.optionItem {
		width: 120%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.optionCounterButton {
		width: 20px;
		height: 20px;
		align-items: center;
		justify-content: center;
		display: flex;
	}
	.bookButton {
		margin-top: 10px;
	}
}
